footer {
    width: 100% !important;
    text-align: center;
}

header {


}

.ant-layout-content {
    background-color: #fff !important;
    padding: 0 .5rem !important;
}

.content-crumb {
    margin-left: 50px;
}


.inicio {
    min-height: calc(100vh - 70px) !important;
}
footer{
    height: 100px !important;
    background-color: #001529 !important;
}
@media (min-width: 600px) {
    .ant-layout-content {
        padding: 0 1rem !important;
    }
}
