.content-title-welcome {
    font-size: 1rem;
    text-align: center;
    position: absolute;
    bottom: 40%;
    width: 100%;
    text-align: center;
    transition-property: bottom opacity;
    transition-duration: 1s;
}

.content-title-welcome-active {
    bottom: 45%;
    opacity: 0;
}

.welcome-row-col-card {
    position: relative !important;
    right: 1rem !important;
    opacity: 0 !important;
    transition-property: right;
    transition-duration: 1s;
}

.welcome-row-col-card-active {
    right: 0 !important;
    opacity: 1 !important;

}

.welcome-row-col-card {
    width: 280px !important;
    position: relative !important;
    right: 1rem;
}

.welcome {
    padding: 1rem;
}
@media(min-width: 600px){
    
}
@media(min-width: 900px){
    
}
@media(min-width: 1200px){
    .content-title-welcome {
        font-size: 2rem;
    }
}