.Head {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.Head .ant-menu-overflow-item {
  font-size: 15px !important;
}

.burger {
  cursor: pointer;
  font-size: 1rem;
  right: 20px;
  position: absolute;
  display: flex;
  color: #fff;
}

.burger:hover {
  color: #1890ff;
}


.titulo1 {
  padding-top: 8px;
  display: flex;
  align-items: center;
  font-size: 1.2rem;
  font-family: auto;
  font-weight: 600;
  font-style: italic;
  gap: 5px;
  color: #fff;
}

.titulo1 span {
  color: #1890ff;
}


.Menu {
  width: 70% !important;
  display: none;
  justify-content: end;
  background-color: #eeeeee00 !important;

}

.Menu a {
  font-weight: 400 !important;
  font-size: 13px !important;
}

.Menu li {
  margin-right: 10px;
  height: 30px !important;
  display: flex !important;
  align-items: center;
  border-radius: 4px !important;
}

.Menu li:hover {
  background-color: #1890ff !important;
}

.Menu li:hover a {
  color: #fff !important;
}

.Menu .ant-menu-item-selected a {
  color: #fff !important;
}

.Menu2 {
  background: #001529;
}

.Menu2 a {
  color: #fff !important;
}

.Menu2 li {

  width: 95% !important;
  border-radius: 4px !important;
  margin: .5rem auto !important;
}

.Menu2 li:hover a {
  color: #000 !important;
}

.Menu2 li:hover {
  background-color: #eee !important;
}

.Menu2 .ant-menu-item-selected a {
  color: #fff !important;
}


@media(min-width:400px) {}

@media(min-width:600px) {
  .titulo1 {
    font-size: 1.5rem !important;
  }
}

@media(min-width:900px) {
  .burger {
    display: none;
  }

  .Menu {
    width: 50%;
    display: flex;
    justify-content: end;
  }
}

@media(min-width:1200px) {
  .titulo1 {
    font-size: 1.7rem !important;
  }
}

@media(min-width:1600px) {}